* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", serif; /* placeholder */
  background-color: #000;
}

main {
  padding-top: 80px; /* ajuste si tu veux plus/moins */
}